body {
    background: gray;
}

.nav-image {
    width: 50px;
    height: auto;
    object-fit: contain;
    border-radius: 25px;
    box-shadow: 0px 0px 5px gray;
}

.nav-list {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background: white;
    box-shadow: 0px 0px 10px black;
    padding: 2rem 0;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    border-radius: 25px;
}

.nav-item {
    margin-right: 2rem;
}

.nav-item a {
    text-decoration: none;
    color: #9b5151;
    transition: all 200ms ease-in;
}

.nav-item a:hover{
    color: lightgray;
}

.nav-item:first-child {
    margin-left: 2rem;
    margin-right: auto;
}

.shop-btn {
    font-family: 'Roboto', sans-serif;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    transition: all 200ms ease-in;
    color: white;
    background: #9b5151;
}

.shop-btn:hover {
    background: #946666;
}
